deepspeed==0.8.0
dlib==19.24.1
facenet_pytorch==2.5.2
hydra-core==1.3.2
lion_pytorch==0.0.7
matplotlib==3.6.2
numpy==1.24.1
omegaconf==2.3.0
opencv==4.6.0
Pillow==9.4.0
timm==0.6.12
torch==2.1.0.dev20230322+cu117
torchmetrics==0.11.0
torchvision==0.15.0a0
tqdm==4.64.1
wandb==0.13.9